@import '../base/listas';
@import '../base/variables';
@import '../base/mixins';
@import '../base/maps';

main {
    .clasicos-presentacion {
        //height: 66vh;

        img {
            @include carrusel-tipo('carrusel-secciones-ventas');
        }
    }

    .clasicos-productos {

        .clasicos-titulo {
            @include imagenes-exhibicion(url(https://i.ibb.co/6n7b1T7/belleza-Header.jpg), 'secciones-ventas');

            h2 {
                background-color: nth($colores-titulos, 2);
                font-family: $font-title;
                text-align: center;
                font-size: $font-size-title;
            }
        }


        figure {
            img {
                width: 100%;
                height: 20rem;
            }

            h5 {
                text-align: map-get($descripcion-productos, posicion-titulo);
                font-size: map-get($descripcion-productos, tam-fuente-titulo);
                color: map-get($descripcion-productos, color-fuente-titulo);
            }

            p {
                text-align: map-get($descripcion-productos, posicion-desc);
                font-size: map-get($descripcion-productos, tam-fuente-descr);
                color: map-get($descripcion-productos, color-fuente-desc);
                font-weight: map-get($descripcion-productos, fuente-tipo);
            }
        }
    }
}