@import '../base/listas';
@import '../base/variables';

main {
    .contacto-presentacion {
        img {
            width: 100%;

            @media only screen and (max-width:576px) {
                height: 40vh;
            }

            @media only screen and (min-width:577px) and (max-width:768px) {
                height: 50vh;
            }

            @media only screen and (min-width:769px) {
                height: 60vh;
            }
        }
    }

    .contacto-form {

        .contacto-titulo {
            width: 100%;
            height: 22vh;
            background-image: url(../images/emailHeader.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
                background-color: nth($colores-titulos, 2);
                font-family: $font-title;
                text-align: center;
                font-size: $font-size-title;
            }
        }

        p {
            text-align: center;
            font-size: 3rem;
            color: rgba(245, 2, 99, 0.7);
        }

        form {
            text-align: center;
            width: 70%;
            margin: 0 auto;

            .form-control {
                text-align: center;
                height: 5rem;
                font-size: 2rem;
            }

            .form-mensaje {
                text-align: center;
                height: 13rem;
                font-size: 2rem;
            }

            button {
                width: 75%;
                font-size: 3rem;
                background-color: #FF0066;
            }
        }
    }
}