@import '../base/maps';

footer {
    background-color: map-get($social-Fot, bg-color-titulo);

    .footer-sociales {
        display: flex;
        justify-content: center;

        nav {
            ul {
                display: flex;
                list-style: none;

                li {
                    img {
                        &:hover {
                            background-color: map-get($social-Fot, bg-color-hover);
                            font-weight: map-get($social-Fot, fuente-hover);
                            border-radius: map-get($social-Fot, border-r-negocio);
                        }
                    }
                }
            }
        }
    }

    .footer-negocios {
        margin: 0.5rem;
        padding: 0.5rem;

        h5 {
            font-size: map-get($social-Fot, tam-titulo-navegable);
        }

        nav {
            ul {
                li {
                    color: map-get($social-Fot, bg-color-navegable);
                    width: 15%;
                    font-size: map-get($social-Fot, tam-navegable-negocio);
                    margin-left: 1.5rem;

                    a {
                        text-decoration: none;
                        color: nth($colores-titulos, 1);

                        &:hover {
                            background-color: map-get($social-Fot, bg-color-hover);
                            font-weight: map-get($social-Fot, fuente-hover);
                            border-radius: map-get($social-Fot, border-r-negocio);
                        }
                    }
                }
            }
        }
    }

    .footer-contacto {
        text-align: end;

        a {
            img {
                height: 5rem;
                position: fixed;
                bottom: 5rem;
                right: 0.5rem;
                transition: all 1s;
                z-index: 10;

                &:hover {
                    transform: rotate(360deg);
                }
            }
        }
    }

    .scrool {
        text-align: end;
        position: fixed;
        bottom: 0.05rem;
        right: 0.05rem;
        z-index: 10;
    }

    .footer-derechos {
        border-top: map-get($social-Fot, border-r-derechos);

        p {
            text-align: map-get($social-Fot, posicion-derechos);
            font-size: map-get($social-Fot, tam-derechos-autor);
            font-weight: map-get($social-Fot, fuente-hover);

            a {
                color: map-get($social-Fot, fuente-color-creador);
                font-size: map-get($social-Fot, tam-derechos-creador);
                font-weight: map-get($social-Fot, fuente-hover);
            }
        }
    }
}