@import '../base/listas';
@import '../base/variables';
@import '../base/mixins';

main {
    background-color: rgba(255, 255, 255, 0.7);

    .carrusel-principal {
        margin-bottom: 0.5rem;

        img {
            @include carrusel-tipo('carrusel-principal');
        }

        @include descr-carrusel ('descr-carrusel-principal');
    }

    .productos-exhibicion {

        .row {

            display: flex;
            justify-content: center;
            align-items: center;

            div {
                margin: 1rem;
            }
        }

        /*Titulos de los productos en exhibicion*/
        @include titulos-prod-exhibicion;


        #ofertas {
            @include imagenes-exhibicion(url(https://i.ibb.co/rkLMkm4/ofertas-Header-Recortada.jpg), 'index-exhibicion');
        }

        #liquidaciones {
            @include imagenes-exhibicion(url(https://i.ibb.co/7pX6SSZ/liquidaciones-Bolsas.jpg), 'index-exhibicion');
        }

        #arosExhibicion {
            @include imagenes-exhibicion(url(https://i.ibb.co/tLpGx46/aro-Acero-Blanco.jpg), 'index-exhibicion');
        }

        #collarExhibicion {
            @include imagenes-exhibicion(url(https://i.ibb.co/BnPbcGy/cadena-Con-Dije.jpg), 'index-exhibicion');
        }
    }

    #clasicos {
        @include titulos-secciones;
        @include clasicos-descripciones('clasico-descr');

        img {
            @include carrusel-tipo('carrusel-index-secciones');
        }
    }

    #tendencias {
        @include titulos-secciones;

        a {
            text-decoration: none;

            #ultimasTendencias {
                @include imagenes-exhibicion(url(https://i.ibb.co/yhd5RmM/ultima-Tendencia-Verde.jpg), 'index-exhibicion-tendencias');

                h3 {
                    color: rgba(0, 0, 0, 0.8);
                    background: $colores-descripciones;
                }

                @media only screen and (max-width:576px) {
                    height: 47vh;

                    h3 {
                        font-size: 2.2rem;
                    }
                }

                @media only screen and (min-width:577px) and (max-width:1272px) {
                    height: 50vh;

                    h3 {
                        font-size: 3.8rem;
                    }
                }

                @media only screen and (min-width:1273px) {
                    height: 90vh;

                    h3 {
                        font-size: 8rem;
                    }
                }

            }

        }

    }

    #categorias {
        @include titulos-secciones;

        img {
            @include carrusel-tipo('carrusel-index-secciones');
        }

        h4 {
            display: inline;
            font-size: 6rem;
            color: rgba(0, 0, 0, 0.8);
            background: $colores-descripciones;
        }
    }

    #ubicacion {
        margin: 1rem 0;
        @include titulos-secciones;

        a {
            text-decoration: none;

            #ubicacionImagenMapa {
                @include imagenes-exhibicion(url(https://i.ibb.co/m8jr66y/mapaubicacion.jpg), 'index-exhibicion-ubicacion');

                h3 {
                    color: rgba(0, 0, 0, 0.8);
                    background: $colores-descripciones;
                }

                @media only screen and (max-width:576px) {
                    height: 35vh;

                    h3 {
                        font-size: 2rem;
                    }
                }

                @media only screen and (min-width:577px) and (max-width:1272px) {
                    height: 43vh;

                    h3 {
                        font-size: 3rem;
                    }
                }

                @media only screen and (min-width:1273px) {
                    height: 50vh;

                    h3 {
                        font-size: 6rem;
                    }
                }
            }
        }
    }

}