@import '../base/listas';
@import '../base/variables';
@import '../base/mixins';

main {
    background-color: $mains-colores;
    .carrusel-principal {
        margin-bottom: 0.5rem;

        img {
            @include carrusel-tipo('carrusel-principal');
        }

        @include descr-carrusel ('descr-carrusel-principal');
    }

    .productos-exhibicion {

        .row {

            display: flex;
            justify-content: center;
            align-items: center;

            div {
                margin: 1rem;

                a {
                    text-decoration: none
                }
            }
        }

        /*Titulos de los productos en exhibicion*/
        @include titulos-prod-exhibicion;

 
        #ofertas {
            @include imagenes-exhibicion(url(https://i.ibb.co/rkLMkm4/ofertas-Header-Recortada.jpg), 'index-exhibicion');
        }

        #liquidaciones {
            @include imagenes-exhibicion(url(https://i.ibb.co/7pX6SSZ/liquidaciones-Bolsas.jpg), 'index-exhibicion');
        }

        #arosExhibicion {
            @include imagenes-exhibicion(url(https://i.ibb.co/tLpGx46/aro-Acero-Blanco.jpg), 'index-exhibicion');
        }

        #collarExhibicion {
            @include imagenes-exhibicion(url(https://i.ibb.co/BnPbcGy/cadena-Con-Dije.jpg), 'index-exhibicion');
        }
    }

    #clasicos {
        @include titulos-secciones;
        @include clasicos-descripciones('clasico-descr');

        img {
            @include carrusel-tipo('carrusel-index-secciones');
        }
    }

    #tendencias {
        @include titulos-secciones;

        a {
            text-decoration: none;

            #ultimasTendencias {
                @include imagenes-exhibicion(url(https://i.ibb.co/dJCwyDD/ultima-Tendencia-Verde-2.png), 'index-exhibicion-tendencias');

            }

        }

    }

    #categorias {
        @include titulos-secciones;

        img {
            @include carrusel-tipo('carrusel-index-secciones');
        }

        @include categorias-descr-index;
    }

    #ubicacion {
        margin: 1rem 0;
        @include titulos-secciones;

        a {
            text-decoration: none;

            #ubicacionImagenMapa {
                @include imagenes-exhibicion(url(https://i.ibb.co/m8jr66y/mapaubicacion.jpg), 'index-exhibicion-ubicacion');

            }
        }
    }

}