@import '../base/listas';
@import '../base/variables';
@import '../base/mixins';
@import '../base/maps';



main {
    .ingresos-presentacion {
        height: 66vh;

        img {
            @include carrusel-tipo('carrusel-secciones-ventas');
        }

        h5 {
            display: map-get($descripcion-carrusel-ingresos, displ-titulo);
            background-color: map-get($descripcion-carrusel-ingresos, bg-color-ingresos);
            font-size: map-get($descripcion-carrusel-ingresos, tam-titulo-fuente);
            color: map-get($descripcion-carrusel-ingresos, color-fuente);
        }

        p {
            background-color: map-get($descripcion-carrusel-ingresos, bg-color-ingresos);
            font-size: map-get($descripcion-carrusel-ingresos, tam-desc-fuente);
            color: map-get($descripcion-carrusel-ingresos, color-fuente);
        }
    }

    .ingresos-productos {

        .ingresos-titulo {
            @include imagenes-exhibicion(url(../images/ultimaTendenciaHeader.jpg), 'secciones-ventas');

            h2 {
                background-color: nth($colores-titulos, 2);
                font-family: $font-title;
                text-align: center;
                font-size: $font-size-title;
            }
        }

        figure {
            img {
                width: 100%;
                height: 20rem;
            }

            h5 {
                text-align: map-get($descripcion-productos, posicion-titulo);
                font-size: map-get($descripcion-productos, tam-fuente-titulo);
                color: map-get($descripcion-productos, color-fuente-titulo);
            }

            p {
                text-align: map-get($descripcion-productos, posicion-desc);
                font-size: map-get($descripcion-productos, tam-fuente-descr);
                color: map-get($descripcion-productos, color-fuente-desc);
                font-weight: map-get($descripcion-productos, fuente-tipo);
            }
        }
    }

}