@import '../base/listas';
@import '../base/variables';
@import '../base/mixins';

main {
    .ubicacion-principal {

        .ubicacion-titulo {
            @include imagenes-exhibicion(url(../images/mujerHeader.jpg), 'secciones-ventas');

            h2 {
                background-color: nth($colores-titulos, 2);
                font-family: $font-title;
                text-align: center;
                font-size: $font-size-title;
            }
        }
    }
}