/*Color titulo*/
$colores-titulos: rgba(0, 0, 0, 0.9),
/*Background titulo*/
rgba(179, 116, 126, 0.2);

/*background navbar*/
$colores-navbar: rgba(247, 218, 223, 0.9),
/*boxshadow navbar*/
0px 2px 5px 0px rgba(255, 123, 123, 0.8);

/*background descripciones*/
$colores-descripciones:rgba(255, 192, 203, 0.8);
