@import url('https://fonts.googleapis.com/css2? family = Vidaloka & display = swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@600&display=swap');

$font-title: 'Rokkitt',
serif;
$font-size-title:5rem;
$font-nombre-empresa:'Vidaloka',
serif;